<% provide(:title, 'About Us') %>
<div class="jumbotron">
  <h1>About Us</h1>
  <h2>Please contact the developer or the administrator if you have any problems.</h2>
</div>

<div class="row">
	<div class="col-md-6">
	    <div class="panel panel-info">
	        <div class="panel-heading">
	          <h4 class="panel-title">Developer</h4>
	        </div>  
	        <div class="panel-body">
	          <h4> Xinyu Miao </h4>
	          <h4> An undergraduate year four student in Waterford Institute of Technology. </h4>
	        </div>
        </div>
    </div>
    <div class="col-md-6">
	    <div class="panel panel-success">
	        <div class="panel-heading">
	          <h4 class="panel-title">Contact us</h4>
	        </div>  
	        <div class="panel-body">
	          <a href="mailto:hermit412@gmail.com?subject=Questions about IreHouse">hermit412@gmail.com</a>
	          <h4> If you have any questions, youcan contact us and we are pleased to try to help you. </h4>
	        </div>
        </div>
    </div> 
</div>

<br>
<div class="row">
	<div class="col-md-12">
		<h1>
		<div class="fb-like" data-href="https://irehouse.herokuapp.com/" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>
		</h1>
    </div>
</div>    