<h1>Add House Information</h1>

<%= render 'form' %>

<button class="btn btn-default btn-circle" title="Back" onclick="javascript:history.back(-1);"><i class="glyphicon glyphicon-chevron-left"></i></button>
