<h1>Editing Help</h1>

<%= render 'form' %>

<%= link_to @help , class: "btn btn-circle btn-success btn-xs", title: "View" do %>
  <i class="glyphicon glyphicon-eye-open"></i>
<% end %>

<button class="btn btn-primary btn-circle" title="Back" onclick="javascript:history.back(-1);"><i class="glyphicon glyphicon-chevron-left"></i></button>
