<p>
  <strong>Title:</strong>
  <%= @help.title %>
</p>

<p>
  <strong>City:</strong>
  <%= @help.city %>
</p>

<p>
  <strong>Message:</strong>
  <%= @help.message %>
</p>

<% if current_user == @help.user %>
	<%= link_to edit_help_path(@help) , class: "btn btn-circle btn-info btn-xs", title: "Edit" do %>
	  <i class="glyphicon glyphicon-edit"></i>
	<% end %>
<% end %>	


<button class="btn btn-primary btn-circle" title="Back" onclick="javascript:history.back(-1);"><i class="glyphicon glyphicon-chevron-left"></i></button>
