@import "bootstrap-sprockets";
@import "bootstrap";

    /* mixins, variables, etc. */

    $gray-medium-light: #eaeaea;

    @mixin box_sizing {
      -moz-box-sizing:    border-box;
      -webkit-box-sizing: border-box;
      box-sizing:         border-box;
    }

    /* universal */

    body {
      padding-top: 90px;
    }

    section {
      overflow: auto;
    }

    textarea {
      resize: vertical;
    }

    .center {
      text-align: center;
    }

    .center h1 {
      margin-bottom: 10px;
    }

    /* typography */

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }

    p {
      font-size: 1.1em;
      line-height: 1.7em;
    }


    /* footer */

    footer {
      margin-top: 45px;
      padding-top: 5px;
      border-top: 1px solid #eaeaea;
      color: #777;
    }

    footer a {
      color: #555;
    }

    footer a:hover {
      color: #222;
    }

    footer small {
      float: left;
    }

    footer ul {
      float: right;
      list-style: none;
    }

    footer ul li {
      float: left;
      margin-left: 15px;
    }

    /* miscellaneous */

    .debug_dump {
      clear: both;
      float: left;
      width: 100%;
      margin-top: 45px;
      @include box_sizing;
    }

    .col-md-3:nth-child(4n+1) {
      clear: left;
    }

    .col-md-6 {
      h3 {font-size: 45px;}
      h5 {font-size: 25px;}
      p {font-size: 18px;}
    }

    .caption {
      h3 {
      font-size: 17px;
      margin: 2px;
      }
      p {
      font-size: 15px;
      margin: 0px;
      }
    }

    .jumbotron {
      background-image: url('https://dl.dropboxusercontent.com/s/kk62kgr89b1czx2/Irehouse.jpg?dl=0');
      h1, h2 {
      font-family: fantasy;
      }
    }

    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
      display: block;
      height: 450px;
      max-width: 100%;
      line-height: 1;
      width: 100%;
    }

    .carousel-caption{
      h1{
      font-family: fantasy;
      font-size: 50px;
      color:#FFFFFF;
      }
    }

    .page-header{
      font-family: fantasy;
      font-size: 50px;
      color: #3071A9;
    }


