 @import "bootstrap-sprockets";
 @import "bootstrap";
 
    /* universal */


    section {
      overflow: auto;
    }

    textarea {
      resize: vertical;
    }

    .center {
      text-align: center;
    }

    .center h1 {
      margin-bottom: 10px;
    }

    /* typography */

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
    }

    h1 {
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 30px;
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      letter-spacing: -1px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: normal;
      color: #777;
    }

    p {
      font-size: 1.1em;
      line-height: 1.7em;
    }

    /* header */

      .logo {
        float: left;
        margin: 10px 0 0 8%;
        letter-spacing: -1px;
        font-weight: bold;
        display: block;
        color: #3071A9;
        font-size: 2.0em;
        
      }

    /* footer */

    footer {
      padding-top: 5px;
      border-top: 1px solid #eaeaea;
      color: #777;
    }

    footer a {
      color: #555;
    }

    footer a:hover {
      color: #222;
    }

    footer small {
      float: left;
    }

    footer ul {
      float: right;
      list-style: none;
    }

    footer ul li {
      float: left;
      margin-left: 15px;
    }


    .col-md-3:nth-child(4n+1) {
      clear: left;
    }

    .col-md-6 {
      h3 {font-size: 45px;}
      h5 {font-size: 25px;}
      p {font-size: 18px;}
    }

    .caption {
      h3 {
      font-size: 17px;
      margin: 2px;
      }
      p {
      font-size: 15px;
      margin: 0px;
      }
    }

    .jumbotron {
      background-image: url('https://dl.dropboxusercontent.com/s/kk62kgr89b1czx2/Irehouse.jpg?dl=0');
      size: auto;
      height: 250px;
      h1, h2 {
      font-family: fantasy;
      }
    }

    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
      display: block;
      height: 450px;
      max-width: 100%;
      line-height: 1;
      width: 100%;
    }

    .carousel-caption{
      h1{
      font-family: fantasy;
      font-size: 50px;
      color:#FFFFFF;
      }
    }

    .page-header{
      font-family: fantasy;
      font-size: 50px;
      color: #3071A9;
    }


