        <a href="#menu-toggle" class="btn btn-circle btn-primary btn-xs" id="menu-toggle"><i class="glyphicon glyphicon-th-list"></i></a>
        <div class="navbar-right">
            <% if user_signed_in? %>          
                    
                        <i class="fa fa-user fa-fw"></i>
                        <%= link_to edit_user_registration_path , class: "btn btn-circle btn-info btn-xs", title: "Settings" do %>
                            <i class="glyphicon glyphicon-edit"></i>
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete , class: "btn btn-circle btn-warning btn-xs", title: "Sign out" do %>
                            <i class="glyphicon glyphicon-log-out"></i>
                        <% end %>    
                              
            <% else %>
                        <%= link_to new_user_session_path , class: "btn btn-circle btn-warning btn-xs", title: "Log in" do %>
                            <i class="glyphicon glyphicon-log-in"></i>
                        <% end %>
            <% end %>
        </div>       


